* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", "sans-serif";
}

/* Common */
a {
  text-decoration: none;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 18px 16px;
  min-width: 98px;
  border-radius: 8px;
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}

/* Header */
.header {
  background-color: #e6f0ff;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .action {
  margin-left: auto;
}

.navbar ul a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
  padding: 8px 14px;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action-link {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--primary-color);
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 51%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.hero .title {
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1875; /* 118.75% */
}
